name: Draw ZMK Keymaps
on: [push, workflow_dispatch]

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    permissions:
      contents: write
    with:
      keymap_patterns: "config/*.keymap"
      output_folder: "keymap-drawer"
      west_config_path: "config"
      commit_message: "[Draw] Update keymap images"
